<%= render 'layouts/header' %>
<!DOCTYPE html>
<html>
<!--this brings in the nav bar and activates turbolinks -->
<head>
 <link href="jumbotron.css" rel="stylesheet">
 <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
	<title> Portfolio </title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
   <%= javascript_include_tag "default", "data-turbolinks-track" => true %>
   <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

    <!--home page-->
    <%= yield %>
  
</html>

 